<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("includes/head") %>
        <script async
            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2798057846705714"
            crossorigin="anonymous"></script>
        <title>k-cook | <%= menu.title %>
        </title>
        <meta name="description" content="Easy and good way to make <%= menu.title %> : Foods in Korea ">
        <link rel="stylesheet" href="/css/step-detail.css" />
</head>

<body>
    <%- include("includes/header") %>
        <main>
            <section id="container">
                <h1 id="title">
                    <%= menu.title %>
                </h1>
                <h2>Ingredient</h2>
                <p id="ingredient">
                    <span>
                        <%= menu.ingredient %>
                    </span>
                </p>

                <img src="/<%= menu.ingredientPicture.path %>" alt="" class="gifs">

                <% for(let i=0; i < menu.imgPath.length;i++){ %> <%-
                        include("includes/step-show",{description:menu.step[i],gif:menu.imgPath[i]}) %>
                        <% } %>

                            <a href="<%= menu.reference %>" id="referred"> Referred Recipe(Goes to top if none) </a>

                            <h5>Donation is always appreciated, Enjoy the meal!</h5>
                            <form action="https://www.paypal.com/donate" method="post" target="_top">
                                <input type="hidden" name="business" value="7SQ8BK2YSNTGJ" />
                                <input type="hidden" name="no_recurring" value="0" />
                                <input type="hidden" name="item_name" value="Thank you so much for the support" />
                                <input type="hidden" name="currency_code" value="USD" />
                                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif"
                                    border="0" name="submit" title="PayPal - The safer, easier way to pay online!"
                                    alt="Donate with PayPal button" />
                                <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1"
                                    height="1" />
                            </form>
            </section>


        </main>
        <footer><%- include("includes/footer") %></footer>
</body>

</html>