<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("includes/head") %>
        <title>k-cook | SignUp</title>
        <link rel="stylesheet" href="css/login.css">
</head>

<body>
    <%- include("includes/header") %>
        <main>
            <div id="container">
                <h2 id="header">
                    <span id="logor">K-</span><span id="logob">cook</span>
                </h2>
                <% if(inputData.hasError){ %>
                    <p id="error-message">
                        <%= inputData.message %>
                    </p>
                    <% } %>

                        <form action="/signup" method="POST">
                            <label for="userName">User name</label>
                            <input type="text" id="userName" name="userName" placeholder="User Name"
                                value="<%= inputData.username  %>">
                            <label for="password">Password</label>
                            <input type="password" id="password" name="password" placeholder="Password" minlength="8"
                                value="<%= inputData.password  %>">
                            <label for="confirmPassword">Password confirm</label>
                            <input type="password" id="confirmPassword" name="confirmPassword"
                                placeholder="Confirm Password" minlength="8" value="<%= inputData.passwordConfirm  %>">
                            <button class="btn">Create user</button>
                            <a href="/logIn" class="btn">Log in</a>
                        </form>
            </div>
        </main>
        <footer><%- include("includes/footer") %></footer>


</body>

</html>